{
    "root": true,
    "parser": "babel-eslint",
    "env": {
        "node": true
    },
    "globals": {},
    "plugins": ["node"],
    "extends": ["eslint:recommended", "plugin:node/recommended"]
}
